@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,*::after,*::before{
        box-sizing: border-box;
        padding: 0;
        margin: 0;

}
html{
        font-size: 62.5%;
}
body{
        font-family: 'Poppins', sans-serif;;
}

/* ############################################################ utilty classes ############################################################ */
.container{
        max-width: 1200px;
        width: 90%;
        margin: auto;
}
.btn{
     display: inline-block;
     padding: 1em 3em;
     text-decoration: none;   
     border-radius: 20px;
     cursor: pointer;
     outline: none;
     margin-top: 1em;
     text-transform: uppercase;
     font-weight: 500;
}
.btn-primary{
        color: rgb(1, 0, 0);
        background-color: rgb(139, 243, 148);
}
/* ############################################################# navabr styling ################################################### */

/* for desktop mode */
.navbar input[type="checkbox"],.navbar .hamburger-lines{
        display: none;
}

.navbar{
        box-shadow: 0px 5px 10px 0px #aaa;
        position: fixed;
        width: 100%;
        background: #fff;
        color: #000;
        opacity: 0.85;
        z-index: 999;
}
.navbar-container{
        display: flex;
        justify-content: space-between;
        height: 64px;
        align-items: center;
        
}
.menu-items{
        order: 2;
        display: flex;
}
.menu-items li{
        list-style: none;
        margin-left: 2rem;
        font-size: 1.8rem;
}
.logo{
        order: 1;
        font-size: 3rem
}
.navbar a{
        color: #444;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease-in-out;
}
.navbar a:hover{
        color: #117064;
}

/* ############################################### showcase styling ###################################################  */
.showcase-area{
        height: 60vh;
        background: /*linear-gradient(rgba(204,240,204,0.144),rgba(255,255,255,0.366)),*/url(i1.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.showcase-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.6rem;
}
.showcase-container .main-title{
        font-size: 4rem;
        color: #117064;
        /* line-height: 8rem; */
}
/* .main-title{
        transform: translate(350%);
        animation: good-food 1s.2s forwards
        
} */
/* @keyframes good-food {
        100%{
                transform: translate(0);
        }        
} */
/* ########################################## about us #################################################################### */
#about{
        padding: 50px 0px;
        background-color:white ;
}
.about-wrapper{
        display: flex;
        flex-wrap: wrap;
}
#about h2{
        font-size: 3.2rem;

}
#about p{
        font-size: 1.6rem;
        color: #555;
}
#about .small{
        font-size: 1.6rem;
        color: #117064;
        font-weight: 600;
}
.about-img {
        flex: 1 1 400px;
        padding: 30px;
        /* border: 2px solid red; */
        transform: translate(150%);
        animation: about-img-animation 1s ease-in-out forwards;
        animation-delay: .5s;
        
}
@keyframes about-img-animation {
        100%{
                transform: translate(0);
        }
        
}
.about-text{
        flex: 1 1 400px;
        padding: 30px;
        color: #117064;
        margin: auto;
        transform: translate(-150%);
        animation: about-text-animation 1s ease-in-out forwards;
        animation-delay: .5s;
}
@keyframes about-text-animation {
        100%{
                transform: translate(0);
        }
}
.about-img img{
        display: block;
        height: 300px;
        max-width: 100%;
        margin: auto;
        object-fit: cover;
        object-position: center;
}
/* ####################################################################### food section ########################################################## */
#food{
        padding: 5rem 0rem 10rem 0rem;
}
#food h2{
        text-align: center;
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 40px;
        text-transform: uppercase;
        color: #117064;
}
.food-container{
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-between;
}
.food-container img{
        display: block;
        width: 100%;
        margin: auto;
        max-height: 300px;
        object-fit: cover;
        object-position: center;
}
.img-container{
        margin: 0 1rem;
        position: relative;
}
.img-content{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        z-index: 2;
        text-align: center;
        transition: all 0.3s ease-in-out 0.1s;
}
.img-content h3{
        color: #fff;
        font-size: 3rem;

}
.img-content a{
        /* font-weight: 500; */
        font-size: 1.2rem;
}
.img-container::after{
        content: "";
        display: block;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
        /* opacity: 0; */
        z-index: 1;
        transform: scaley(0);
        transform-origin: 100% 100%;
        transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
        opacity: 1;
        transform: scaley(1);
}
.img-container:hover .img-content{
        opacity: 1;
        top: 40%;
}
/* ################################################################ food item styling ################################################ */
.food-menu-heading{
        font-size: 4rem;
        text-align: center;
        font-weight: 400;
        color: #117064;
}
.food-menu-container{
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0 30px 0;
}
.food-menu-item{
        display: flex;
        
}
.food-menu-container img{
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
}
.food-menu-item{
        display: flex;
        flex: 1 1 600px;
        justify-content: space-evenly;
        margin-bottom: 3rem;
}
.food-description{
        margin: auto 1.5rem;
}
.food-title{
        color: #117064;
        font-size: 2.4rem;
        font-weight: 600;
}
.food-description .food-price{
        font-weight: 700;
        font-size: 1.1rem;
        color: #117064;
}
.food-description p{
        font-size: 1.4rem;
        color: #555;
        font-weight: 500;
}
/* #################################   testimonial styling #################################################################### */
#testimonial{
        padding: 5rem 0;
        background-color: rgb(243, 243, 243);
}
.testimonial-title{
        text-align: center;
        font-size: 4rem;
        font-weight: 500;
        color: #117064;
}
.testimonial-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.6rem;
        padding: 1rem;
        /* margin: auto; */
}
.testimonial-container .checked{
        color: #ff9529;
}
.testimonial-box .testimonial-text{
        margin: 1rem 0;
        color: #444;
}
.testimonial-box{
        text-align: center;
        padding: 1rem;

}
.customer-photo img{
        display: block;
        width: 150px;
        height: 150px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        margin: auto;
}
/* ################################################# contact us styling ######################################################## */
#contact{
        padding: 5rem 0;
        background-color: rgb(226, 226, 226);
}
#contact .container{
        display: flex;
        background-color: #fff;
}
.contact-img{
        width: 50%;
}
.contact-img img{
        display: block;
        height: 500px;
        object-fit: cover;
        object-position: center;
        width: 100%;
}
.form-container{
        padding: 1rem;
        width: 50%;
        margin: auto;
}
.form-container input{
        display: block;
        width: 100%;
        border: none;
        border-bottom: 2px solid #DDD;
        box-shadow: none;
        outline: none;
        margin-bottom: 2rem;
        color: #444;
        font-weight: 500;
}
.form-container textarea{
        display: block;
        width: 100%;
        border: none;
        border-bottom: 2px solid #ddd;
        padding: 1rem 0;
}
.form-container h2{
        font-size: 3rem;
        font-weight: 400;
        color: #444;
        margin-bottom: 1rem;
}
.form-container a{
        font-size: 1.2rem
}
/* ############################################################################## footer ############################################## */
#footer{
        text-align: center;
        font-size: 1rem;
        padding: 3rem;
        font-weight: 400;
        color: #5d5e5d;       
        background-color: rgb(240, 240, 240);
}
#footer .name{
        color: #20ad0a;
        font-size: 1.9rem;
        font-weight: 600;
}
/* ############################################ media queries ##################################################  */
@media(max-width: 633px){
        .menu-items li{
                list-style: none;
                margin-left: 1rem;
                font-size: 1.2rem;
        }
        .showcase-container .main-title{
                font-size: 3rem;
                color: #117064;
                /* line-height: 8rem; */
        }
        .food-menu-container img{
                display: block;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
        }

}
@media(max-width: 359){
        .showcase-container .main-title{
                font-size: 2.5rem;
                color: #117064;
                /* line-height: 8rem; */
        }
        .food-menu-container img{
                display: block;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
        }
        
}